<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menú de Juegos</title>
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.jpg">
  <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
</head>
<body>

  <header>
    <img src="/assets/images/pulso.jpg" alt="Logo del juego" style="width: 100px;">
  </header>
  <div id="content">
    <div class="menu">
      <div class="buttons">
        <a href="/introduccion-1" class="orange-button">
          Juego de Velocidad
          <% if (juego1_done) { %>
            <span class="tick-mark">&#10003;</span>
          <% } %>
        </a>
        <a href="/introduccion-2" class="orange-button">
          Juego de Reacción
          <% if (juego2_done) { %>
            <span class="tick-mark">&#10003;</span>
          <% } %>
        </a>
        <a href="/introduccion-3" class="orange-button">
          Juego de Coordinación
          <% if (juego3_done) { %>
            <span class="tick-mark">&#10003;</span>
          <% } %>
        </a>
        <button id="results-button" onclick="location.href='/resultados-finales'" <%= completedGamesCount >= 3 ? '' : 'disabled' %>>
          <span class="lock-icon">🔒</span>
          <span id="progress-text"><%= completedGamesCount %>/3</span>
        </button>
         
              
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; Zurdos vs Diestros</p>
  </footer>

</body>
</html>