body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #ff6600;
    padding: 1em;
    color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

/* Estilo para el rectángulo del menú */
.menu-rectangle {
    background-color: gray; /* Hace que todo el rectángulo sea gris */
    color: white; /* Cambia el color del texto a blanco */
    padding: 10px; /* Añade un poco de espacio alrededor del texto */
    border-radius: 0px;

}

/* Estilo para el enlace del menú */
.menu-link {
    text-decoration: none;
    color: inherit;
}

/* Estilo para la flecha del menú */
.back-to-menu {
    margin-right: 5px;
    font-size: 20px;
}

/* Estilo para centrar el logo en el ancho completo del header */
header img {
    width: auto;
    margin: 0 auto;
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor padre */
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    margin: 1.25em;
}


.text-container {
    text-align: center;
  }
  
  .text-container p {
    display: block;
    margin: 0 auto;
    max-width: 600px; /* O ajusta según sea necesario */
  }
  

.game-image {
    width: 100%; /* La imagen ocupará todo el ancho disponible */
    max-width: 600px; /* Pero no superará los 600px de ancho */
    height: auto; /* La altura se ajustará proporcionalmente */
    margin-top: 1em; /* Espaciado entre la imagen y el botón */
}

.notice {
    text-align: center;
    margin-top: 20px; /* Ajusta según sea necesario */
  }
  
  .notice p {
    font-style: italic;
  }

.orange-button {
    position: relative;
    overflow: hidden;
    padding: 15px;
    font-size: 18px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 1em; /* Espaciado entre la imagen y el botón */
}

.orange-button:hover {
    background-color: #e55d00;
}
