body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #ff6600;
    padding: 1em;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6600;
    padding: 1em;
    color: #ffffff;
   }
   
   .menu-button {
    position: absolute;
    left: 1em;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #ff6600;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .menu-text {
    background-color: gray;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
   }
   
   .menu-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
   }
   
   
   
   header img {
    width: auto;
    max-width: 100%;
   }

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructions {
    margin: 1.25em;
}


.text-container {
    text-align: center;
  }
  
  .text-container p {
    display: block;
    margin: 0 auto;
    max-width: 600px; /* O ajusta según sea necesario */
  }
  

.game-image {
    width: 100%; /* La imagen ocupará todo el ancho disponible */
    max-width: 600px; /* Pero no superará los 600px de ancho */
    height: auto; /* La altura se ajustará proporcionalmente */
    margin-top: 1em; /* Espaciado entre la imagen y el botón */
}

.notice {
    text-align: center;
    margin-top: 20px; /* Ajusta según sea necesario */
  }
  
  .notice p {
    font-style: italic;
  }

.orange-button {
    position: relative;
    overflow: hidden;
    padding: 15px;
    font-size: 18px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 1em; /* Espaciado entre la imagen y el botón */
}

.orange-button:hover {
    background-color: #e55d00;
}
